body {
  background-color: #472e15;
  margin: 0 auto;
  padding: 0;
  overflow: hidden;
}

.game-board {
  width: 100%;
  height: 550px;
  border-bottom: 15px solid rgb(21, 204, 21);
  margin: 0 auto;
  position: relative;
  overflow: hidden;
  background: linear-gradient(rgb(96, 174, 219), rgba(217, 238, 250, 0.897));
}

.pipe {
  position: absolute;
  bottom: 0px;
  width: 80px;
  animation: pipe-animation 1.5s linear infinite;
}

.mario {
  width: 150px;
  position: absolute;
  bottom: 0;
  transition: transform 0.2s;
}

.jump {
  animation: jump 500ms ease-out;
}

.clouds {
  position: absolute;
  width: 550px;
  animation: clouds-animation 15s infinite linear;
}

.score {
  position: absolute;
  top: 10px;
  left: 10px;
  font-family: "Press Start 2P", cursive;
  font-size: 24px;
  color: #fff;
  background-color: rgb(21, 204, 21);
  padding: 10px 20px;
  letter-spacing: 1px;
  z-index: 999;
  box-shadow: 2px 2px 5px rgba(255, 255, 255, 0.429);
}

.restart-button {
  display: none;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-family: "Press Start 2P", cursive;
  font-size: 24px;
  padding: 10px 20px;
  background-color: rgb(21, 204, 21);
  color: #fff;
  border: none;
  cursor: pointer;
  outline: none;
  z-index: 999;
  box-shadow: 2px 2px 5px rgba(255, 255, 255, 0.429);
}

@keyframes pipe-animation {
  from {
    right: -80px;
  }
  to {
    right: 100%;
  }
}

@keyframes jump {
  0% {
    bottom: 0;
  }
  40% {
    bottom: 180px;
  }
  50% {
    bottom: 180px;
  }
  60% {
    bottom: 180px;
  }

  100% {
    bottom: 0;
  }
}

@keyframes clouds-animation {
  from {
    right: -550px;
  }

  to {
    right: 1600px;
  }
}

@media (max-width: 600px) {
  .game-board {
    height: 250px;
  }

  .pipe {
    width: 20%;
  }

  .mario {
    width: 50%;
  }

  .clouds {
    width: 200%;
  }
}
